In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from info_gain import info_gain
from sklearn.feature_selection import chi2

path = './data/'
fileName = path + 'train'

df = pd.read_csv(fileName + '.csv')

In [14]:
def isFem(x):
    if x == 'female':
        return 1
    return 0

def toVowel(x):
    v = ['a', 'e', 'i', 'o', 'y', 'u']
    cn = 0
    for c in x:
        if c in v:
            cn += 1
    return cn

def recodeEmbarked(x):
    if x == 'S':
        return 1
    if x == 'C':
        return 2
    return 3

In [15]:
#PREPORATOR
df['SexQ'] = [isFem(x) for x in df.Sex]
df['NameV'] = [toVowel(x) for x in df.Name]
df.Embarked.fillna('S', inplace=True)
df['TicketFC'] = [int(not x[0].isdigit()) for x in df.Ticket]
df['EmbarkedQ'] = [recodeEmbarked(x) for x in df.Embarked]
#df['FareXClass'] = df.Fare * (4 - df.Pclass)
df.Fare = 10*np.log(df.Fare)

df.drop('Sex', axis=1, inplace=True)
df.drop('Cabin', axis=1, inplace=True)
df.drop('PassengerId', axis=1, inplace=True)
df.drop('Name', axis=1, inplace=True)
df.drop('Ticket', axis=1, inplace=True)
df.drop('Embarked', axis=1, inplace=True)

/home/dan1ar/.local/lib/python3.8/site-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [16]:
df['Age'].fillna(df['Age'].median(), inplace = True)
df.Fare.fillna(df.Fare.median(), inplace=True)
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,SexQ,NameV,TicketFC,EmbarkedQ
0,0,3,22.0,1,0,19.810015,0,5,1,1
1,1,1,38.0,1,0,42.666621,1,13,1,2
2,1,3,26.0,0,0,20.700223,1,8,1,1
3,1,1,35.0,1,0,39.721769,1,14,0,1
4,0,3,35.0,0,0,20.856721,0,6,0,1

In [5]:
#features = ['Survived', 'Pclass', 'Age', 'SexQ', 'Parch']
#df = df[features]
#df.head()

In [17]:
# Вероятность выживания по классам
for i in [0, 1]:
    print(i, ' :: ', len(df.loc[(df.Survived == 1) & (df.TicketFC == i)]) / len(df.loc[df.TicketFC == i]))

0  ::  0.3842662632375189
1  ::  0.3826086956521739

In [18]:
for i in [0, 1]:
    print(i, ' :: ', len(df.loc[(df.Survived == 1) & (df.SexQ == i)]) / len(df.loc[df.SexQ == i]))

0  ::  0.18890814558058924
1  ::  0.7420382165605095

In [13]:
for i in range(7):
    if len(df.loc[df.SibSp == i]) != 0:
        print(i, ' :: ', len(df.loc[(df.Survived == 1) & (df.SibSp == i)]) / len(df.loc[df.SibSp == i]))

0  ::  0.34539473684210525
1  ::  0.5358851674641149
2  ::  0.4642857142857143
3  ::  0.25
4  ::  0.16666666666666666
5  ::  0.0

In [12]:
for i in range(7):
    if len(df.loc[df.Parch == i]) != 0:
        print(i, ' :: ', len(df.loc[(df.Survived == 1) & (df.Parch == i)]) / len(df.loc[df.Parch == i]))

0  ::  0.34365781710914456
1  ::  0.5508474576271186
2  ::  0.5
3  ::  0.6
4  ::  0.0
5  ::  0.2
6  ::  0.0

In [9]:
for i in range(1, 4):
    if len(df.loc[df.EmbarkedQ == i]) != 0:
        print(i, ' :: ', len(df.loc[(df.Survived == 1) & (df.EmbarkedQ == i)]) / len(df.loc[df.EmbarkedQ == i]))

1  ::  0.33900928792569657
2  ::  0.5535714285714286
3  ::  0.38961038961038963

In [19]:
for i in range(2, 30):
    if len(df.loc[df.NameV == i]) != 0:
        print(i, ' :: ', len(df.loc[df.NameV == i]), '::', len(df.loc[(df.Survived == 1) & (df.NameV == i)]) / len(df.loc[df.NameV == i]))

2  ::  7 :: 0.42857142857142855
3  ::  45 :: 0.17777777777777778
4  ::  114 :: 0.21929824561403508
5  ::  133 :: 0.24060150375939848
6  ::  140 :: 0.25
7  ::  123 :: 0.3983739837398374
8  ::  102 :: 0.4411764705882353
9  ::  70 :: 0.5571428571428572
10  ::  52 :: 0.6153846153846154
11  ::  38 :: 0.6052631578947368
12  ::  21 :: 0.6666666666666666
13  ::  19 :: 0.7368421052631579
14  ::  13 :: 0.8461538461538461
15  ::  1 :: 1.0
16  ::  5 :: 1.0
17  ::  4 :: 0.75
18  ::  1 :: 1.0
19  ::  1 :: 0.0
20  ::  1 :: 1.0
29  ::  1 :: 1.0

In [10]:
df.to_csv(fileName + 'Data.csv', index=False)